<section class="panel">
	<div class="follower">
		<div class="panel-body">
			<h4>Jonathan Smith</h4>
			<div class="follow-ava">
				<img src="{{ item.photo }}" alt="">
			</div>
		</div>
	</div>

	<footer class="follower-foot">
		<ul>
			<li>
				<h5>{{ item.col1.title }}</h5>
				<p>{{ item.col1.description }}</p>
			</li>
			<li>
				<h5>{{ item.col2.title }}</h5>
				<p>{{ item.col2.description }}</p>
			</li>
		</ul>
	</footer>
</section>