<section class="panel">
	<div class="cover-photo">
		<div class="fb-timeline-img">
			{%  if item.cover %}<img src="{{ item.cover | imagine_filter('cover_background') }}" alt="image"/>{% endif %}
		</div>
		<div class="fb-name">
			<h2><a href="#">{{ item.title|raw }}</a></h2>
		</div>
	</div>
	<div class="panel-body">
		<div class="profile-thumb">
			{%  if item.photo %}<img src="{{ item.photo | imagine_filter('cover_avatar') }}" alt="image"/>{% endif %}
		</div>
		<a href="#" class="fb-user-mail">{{ item.description |raw }}</a>
		{% for block in item.blocks %}
			<p>{{ render_block(block, null, { 'index': loop.index }) }}</p>
		{% endfor %}
	</div>
</section>